@media only screen and (max-width: 600px) {
    .fc-header-title {
      font-size: 0.5em;
      font-weight: lighter;
    }
  
    .fc .fc-toolbar-title {
      font-size: 0.8em;
    }
  
    .fc-daygrid-day {
      cursor: pointer;
    }
  }
  